.container{
    text-align: center;
}
a:link{
    color: #000000;
    text-decoration: none;
}
a:visited{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #888888;
    text-decoration: none;
}
a:active{
    color: #0000ff;
    text-decoration: underline;
}
a{
    margin: 0px 5px 0px 10px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
}
li{
    display: inline;
    float: left;
}
li a {
    display: block;
    
}
.logo{
    
    display: inline-block;
    margin: 0px 5px 0px 5px;
    }
.heading{
    position: fixed;
    display: block;
    background-color: #ffffff;
    font-size: 1.5em;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
.download-link{
    color: #0000ff;
    border: #0000ff solid 2px;
    margin: 5px 150px 0px 0px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    float: right;
    padding: 6px;
    background-color: #ffffff;
    
    }
.navigation-links{
    display: inline-block;
}
.dropdown-content{
    color:#ffffff;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #f0e68c;
    z-index: 1;

}
.dropdown-content a {
    color: #888888;
    padding: 12px 16px;
    display: block;
    text-decoration: none;

}
.dropdown-content a:hover{
    background-color: greenyellow;
}
.dropdown:hover .dropdown-content{
    display: block;
}
li.dropdown{
    display: inline-block;
}
.top-content{
    display: block;
    margin: 60px;
    text-align: left;
}
.firefox-logo{
    display: inline-block;
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 10px;
}
.firefox-desc-img{
    display: inline-block;
    float:right;
    width: 90%;
}
.firefox-desc{
    display: inline-block   ;
    width: 31%;
    float: left;
    margin: 100px;
}
.image-firefox-desc{
    display: inline-block;
    width: 40%;
    float: right;
    margin: 100px;
}
h1{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    background-color: #0000ff;
    border: none;
    color:white;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    margin: 4px 2px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mid-top1{
    text-align: left;
    display: inline-block;
    width: 60%;
}
.mid-top1:hover{
    background-color: #888888;
}
.mid-top2{
    text-align: left;
    display: inline-block;
    width:30%
}
.mid-top2:hover{
    background-color: #888888;
}
.img1{
    width: 90%;
}
.img2{
    width: 90%;

}
figcaption{
    text-align: left;
}
h3{
    
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    margin-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span{
    margin-left: 40px;
}
.mid-mid1{
    display: inline-block;
    width:30%;
    text-align: left;
    padding: 10px;
}
.mid-mid2{
    display: inline-block;
    width: 30%;
    text-align: left;
    padding: 10px;
}
.mid-mid3{
    display: inline-block;
    width: 30%;
    text-align: left;
    padding: 10px;
}
.img3, .img4, .img5{
    width: 80%;
    margin: 10px;
}
.mid-mid1:hover{
    background-color: #888888;
}
.mid-mid2:hover{
    background-color: #888888;
}
.mid-mid3:hover{
    background-color: #888888;
}
.mid-low{
    background-color: #d3d3d3;
    width: 90%;
    height: 300px;
    display: inline-block;
    z-index:1;
    position: relative;
    margin:100px;
    }

.mid-low-img{
    float:left;
    margin-left: 100px;
    height: 500px;
    width: 400px;
    display: inline-block;
    }
.side-text{
    float: right;
    display: inline-block;
    font-weight: bold;

}
.img-low-mid{
    float: left;
    z-index:2;
    display: inline-block;
    position: absolute;
    height: 500px;
}
.side-text a{
    text-decoration: underline;
    color: #0000ff;
}
.tree{
    height: 500px;
    margin-left: 100px;
}
.footer-section{
    background-color: #000000;
    color: #ffffff;
    position: relative;
}
.section-footer ul{
    display:grid
}
.section-footer{
    display: inline-block;
    margin:100px;
}
.section-footer a:hover{
    text-decoration: underline;
}
.footer-section a{
    color: #ffffff;
}
.footer-logo{
    position: absolute;
    float:left;
}
.disclaimer{
    margin:10px;
}
.footer-section a{
    text-decoration: underline;
    
}
.footer-links a{
    margin-right: 10px;
}
.lower-section{
    width: 90%;
    background-color: #d3d3d3;
}
.section-lower{
    display: inline-block;
    width: 20%;
    
}
.lower-section h3{
    margin: 0;
}
.img11-14{
    width:90%;
    height: 200px;
    margin:10px;
}
.lower-section p a{
    text-decoration: underline;
}